<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="nameFile" value="falsenull" />
		<add key="hostDB" value="localhost" />
		<add key="userNameDB" value="postgres" />
		<add key="passwordDB" value="yfrfpe.obq" />
		<add key="nameDB" value="post" />
	</appSettings>
</configuration>